# Local
.DS_Store
*.local
*.log*

# Local config (contains API keys)
src/config/local.ts

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Hot Module Replacement files
*.hot-update.js
*.hot-update.js.map
